asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.2
django-extensions==2.2.8
django-filter==2.2.0
djangorestframework==3.11.0
idna==2.9
joblib==0.14.1
Markdown==3.2.1
numpy==1.18.1
pygraphviz==1.5
pytz==2019.3
PyYAML==5.3
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.8
